.bonus {
  padding: 20px;
}

.bonus__info {
  margin: 0;
  margin-bottom: 15px;
  padding: 65px 55px 45px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: $green-1;
  background-image: url("");
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 60px;
    margin: 0 auto 64px;
    background-image: url("http://placehold.it/55x60")
  }
}
