.details {
  @include container;
  max-width: $large-screen;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 20px;

  @media (min-width: $medium-screen) {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  @media (min-width: $large-screen) {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.details__heading {
  margin-bottom: 3px;

  @media (min-width: $medium-screen) {
    margin-bottom: 18px;
  }
}

.details__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $medium-screen) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $l-grey-2;
  }

  @media (min-width: $large-screen) {
    border: none;
  }
}

.details__item {
  display: flex;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;

  &::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $green-1;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $medium-screen) {
    display: block;
    max-width: 45.75%;
    min-height: 235px;
    margin: 28px 0 53px;
    padding-right: 75px;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }
  }

  @media (min-width: $large-screen) {
    max-width: 245px;
    margin-bottom: 0;
    padding-right: 0;
  }
}
