.example {
  padding-top: 3px;
  padding-bottom: 18px;
  background-color: $l-grey-1;

  @media (min-width: $medium-screen) {
    padding-top: 17px;
    background: none;
  }

  @media (min-width: $large-screen) {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 210px, $l-grey-1 210px, $l-grey-1 100%);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.example__wrapper {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $medium-screen) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $large-screen) {
    flex-shrink: 0;
    width: 610px;
    padding: 57px 0 0 40px;
  }
}

.example__heading {

  @media (min-width: $medium-screen) {
    margin-bottom: 38px;
  }

  @media (min-width: $large-screen) {
    margin-bottom: 120px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;

  @media (min-width: $medium-screen) {
    margin-bottom: 53px;
  }

  @media (min-width: $large-screen) {
    max-width: 435px;
    margin-bottom: 68px;
  }
}

.example__resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  list-style: none;

  @media (min-width: $medium-screen) {
    margin-bottom: 85px;
  }

  @media (min-width: $large-screen) {
    justify-content: flex-start;
    margin-bottom: 60px;
  }
}

.example__result {
  flex-grow: 1;
  position: relative;
  max-width: 43.9%;
  padding: 13px 10px 17px;
  margin-bottom: 35px;
  text-align: center;
  border: 1px solid $l-grey-3;

  @media (min-width: $medium-screen) {
    max-width: 22.9%;
    margin-right: 42px;
    margin-bottom: 0;
    padding: 15px 10px 20px;
  }

  @media (min-width: $large-screen) {
    max-width: 162px;
    margin-bottom: 55px;
  }
}

.example__count {
  @include font(24px, 24px);
  display: block;
  text-transform: uppercase;
  color: $d-grey-3;

  @media (min-width: $medium-screen) {
    @include font(30px, 37px);
  }
}

.example__sub {
  @include font(12px, 12px);
  position: absolute;
  top: 85%;
  left: 15%;
  width: 70%;
  padding: 0 10px;
  font-family: "Arial", sans-serif;
  background-color: $l-grey-1;

  @media (min-width: $medium-screen) {
    top: 90%;
    left: 5%;
    width: 90%;
    padding: 0 5px;
    font-size: 14px;
    background-color: #ffffff;
  }

  @media (min-width: $large-screen) {
    background-color: $l-grey-1;
  }
}

.example__cost {
  display: block;
  min-width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $d-grey-3;

  @media (min-width: $medium-screen) {
    @include font(20px, 29px);
    min-width: 24.7%;
    width: 24.7%;
    margin-left: auto;
    text-align: right;

    & span {
      display: block;
    }
  }

  @media (min-width: $large-screen) {
    min-width: 100%;
    text-align: left;

    & span {
      display: inline-block;
      width: 60px;
    }
  }
}
