.footer {
  background-color: $l-grey-1;
}

.footer__bottom {
  @media (min-width: $medium-screen) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__name {
  margin: 0;
  padding: 40px 0 30px;
  border-bottom: 1px solid $l-grey-3;

  @media (min-width: $medium-screen) {
    width: 160px;
    padding: 0;
    border: none;
  }
}

.footer__name img {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;

  @media (min-width: $medium-screen) {
    margin: 0;
  }
}

.footer__social {
  padding: 20px 0;
  border-bottom: 1px solid $l-grey-3;

  @media (min-width: $medium-screen) {
    padding: 0;
    border: none;
  }
}

.footer__copyright {
  @include font(16px, 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-family: "Arial", sans-serif;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $medium-screen) {
    margin-bottom: -20px;
    padding: 0;
  }

  @media (min-width: $large-screen) {
    margin-bottom: 0;
  }
}

.footer__copyright svg {
  margin-left: 25px;
}

.footer__copyright:focus svg,
.footer__copyright:hover svg {
  fill: $green-1;
}
