.form {
  @include font(16px, 18px);

  @media (min-width: $medium-screen) {
    @include font(20px, 20px);
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.form__two-columns {
  @media (min-width: $large-screen) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    & > .form__field {
      width: calc(50% - #{$l-field});
      margin-bottom: 5px;
    }
  }
}

.form__four-columns {
  @media (min-width: $medium-screen) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    & > .form__field {
      width: calc(50% - #{$m-field});
      margin-bottom: 33px;
    }
  }

  @media (min-width: $large-screen) {
    & > .form__field {
      width: calc(25% - (#{$l-field} * 1.5));
      margin-bottom: 33px;
    }
  }
}

.form__info {
  @include font(14px, 18px);
  margin: 0;
  margin-bottom: 22px;
  text-transform: uppercase;
  color: $d-grey-3;

  @media (min-width: $medium-screen) {
    @include font(20px, 30px);
    margin-bottom: 35px;
    padding: 0 $l-field;
  }

  @media (min-width: $large-screen) {
    width: 100%;
    padding: 0;
    margin-bottom: 65px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 15px 0 25px;
  border: none;

  &--parameters {
    margin: 0 -#{$s-field} 10px;
    padding-right: $s-field;
    padding-bottom: 20px;
    padding-left: $s-field;
    border-bottom: 1px solid $l-grey-2;
  }

  &--frame {
    margin: 0 -#{$s-field} 25px;
    padding-right: $s-field;
    padding-bottom: 25px;
    padding-left: $s-field;
    border-bottom: 1px solid $l-grey-2;

    & .form__field {
      margin-bottom: 12.5px;
    }
  }

  @media (min-width: $medium-screen) {
    padding: 30px $l-field;

    &--parameters {
      margin: 0 0 40px;
      border: none;
    }

    &--frame {
      margin: 0 -#{$m-field} 45px $l-field;
      padding: 23px 70px 25px 0;
      border: 1px solid $l-grey-2;
      border-right: none;

      & .form__field {
        margin: 0 27px 13px;
      }
    }

    &--additionally {
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }

  @media (min-width: $large-screen) {
    width: 100%;
    padding: 30px 0;

    &--parameters {
      width: calc(50% - #{$l-field});
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    &--frame {
      width: calc(50% - #{$l-field});
      margin: 0;
      padding: 23px 70px 25px 0;
      border: 1px solid $l-grey-2;

      & .form__field {
        margin: 0 27px 13px;
      }
    }

    &--additionally {
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }
}

.form__legend {
  margin-bottom: 20px;

  @media (min-width: $medium-screen) {
    margin-bottom: 45px;
    padding-top: 35px;

    & br {
      display: none;
    }
  }
}

.form__field {
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $medium-screen) {
    margin-bottom: 20px;
  }
}

.form__footer {
  padding-top: 5px;
  padding-bottom: 35px;

  @media (min-width: $medium-screen) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 45px;
  }

  @media (min-width: $large-screen) {
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 55px;
  }
}

.form__submit {
  margin-bottom: 20px;

  @media (min-width: $medium-screen) {
    width: 40%;
    margin: 0 30px 0 auto;
    padding: 15.5px 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $large-screen) {
    width: calc(50% - #{$l-field});
    margin: 0;
  }
}

.form__note {
  @include font(14px, 16px);
  display: block;
  font-family: "Arial", sans-serif;
  text-align: center;

  @media (min-width: $medium-screen) {
    width: 40%;
    margin: 0 auto 0 30px;
    font-size: 16px;
    text-align: left;
  }

  @media (min-width: $large-screen) {
    width: calc(50% - #{$l-field});
    margin: 0;
  }
}
