.logo {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-height: 66px;
  padding: 24px 20px;
  text-align: center;
  border-bottom: 1px solid $l-grey-2;

  @media (min-width: $medium-screen) {
    padding: 0;
    border: none;
  }
}

.logo__image {
  position: absolute;
  top: 11px;
  left: 20px;
  display: block;
  width: 33px;
  height: 38px;

  @media (min-width: $medium-screen) {
    position: static;
    width: 70px;
    height: 59px;
    margin-right: 19px;
  }

  @media (min-width: $large-screen) {
    margin-right: 14px;
  }
}

.logo__name {
  display: block;
  width: 101px;
  height: 18px;
  margin: 0 auto;

  @media (min-width: $medium-screen)  {
    width: 84px;
    height: 15px;
    margin: 0;
  }

  @media (min-width: $large-screen)  {
    width: 119px;
    height: 22px;
  }
}
