.page {

  &--back {
    // будет добавлять зеленый фон на экранах побольше
  }
}

.page__title {
  margin: 0;
  padding: 15px 20px 28px;
  @include font (36px, 60px);
  color: $d-grey-3;
  border-bottom: 1px solid $l-grey-1;

  &--white {
    color: #ffffff;
  }
}

.page__sub-title {
  margin: 0;
  @include font (24px, 37px);
  color: $d-grey-3;
}
