.page {

  @media (min-width: $large-screen) {

    &--back {
      background-image: linear-gradient(to right, transparent 0%, transparent 52.7%, $green-1 52.7%, $green-1 100%);
      background-position: center top;
      background-size: 100% 695px;
      background-repeat: no-repeat;
    }
  }
}

.page__title {
  @include font(36px, 60px);
  margin: 0;
  padding: 15px 0 25px;
  color: $d-grey-3;

  &--white {
    color: #ffffff;
  }

  &--top {
    @include container;
  }

  @media (min-width: $medium-screen) {
    font-size: 60px;

    &--white {
      color: $d-grey-3;
    }
  }
}

.page__sub-title {
  @include font(24px, 24px);
  position: relative;
  display: flex;
  margin: 0;
  padding-bottom: 33px;
  color: $d-grey-3;

  &::after {
    content: "";
    position: relative;
    flex-grow: 1;
    top: 15px;
    right: -20px;
    min-width: 40px;
    height: 3px;
    background-color: $green-1;
  }

  @media (min-width: $medium-screen) {
    @include font(36px, 36px);

    &::before {
      content: "";
      position: relative;
      flex-grow: 0;
      top: 22px;
      left: -30px;
      width: 30px;
      height: 3px;
      margin-right: 7px;
      background-color: $green-1;
    }

    &::after {
      top: 22px;
      right: -30px;
      margin-left: 7px;
    }
  }

  @media (min-width: $large-screen) {

    &::before {
      position: absolute;
      left: -110px;
      width: 70px;
    }

    &::after {
      transform-origin: left top;
      transform: scaleX(1.1);
    }
  }
}

.page__main {

  @media (min-width: $medium-screen) {

    &--inner {
      padding-top: 15px;
    }
  }

  @media (min-width: $large-screen) {

    &--inner {
      margin: 0 auto;
      padding-top: 30px;
      max-width: $large-screen;
    }
  }
}
