.product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 25px;

  @media (min-width: $medium-screen) {
    display: block;
    width: calc(50% - #{$m-field});
    padding: 0 $l-field $l-field;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 138px, $l-grey-1 138px, $l-grey-1 100%);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: $large-screen) {
    max-width: calc(25% - (#{$l-field} * 1.5));
  }
}

.product__image {
  display: block;

  @media (min-width: $medium-screen) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 260px;
    margin: 0 -#{$l-field} 40px;
  }

  @media (min-width: $large-screen) {
    height: 265px;
  }
}

.product__image img {
  display: block;
  width: 140;
  height: 144px;

  @media (min-width: $medium-screen) {
    width: 324px;
    height: auto;
  }

  @media (min-width: $large-screen) {
    width: 245px;
  }
}

.product__info {
  width: 50%;
  padding: 20px 0;

  @media (min-width: $medium-screen) {
    width: 100%;
    padding: 0;
  }
}

.product__title {
  @include font(16px, 20px);
  max-width: 60%;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
  color: $d-grey-3;

  @media (min-width: $medium-screen) {
    max-width: 130px;
    margin: 0 auto 20px;
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: $large-screen) {
    max-width: 140px;
    margin-bottom: 19px;
  }
}

.product__features {
  @include font(12px, 16px);
  width: 100%;
  font-family: "Arial", sans-serif;
  border-collapse: collapse;

  @media (min-width: $medium-screen) {
    margin: 0 auto 35px;
    font-size: 16px;

    & tr {
      border-bottom: 1px solid $l-grey-3;
    }
  }

  @media (min-width: $large-screen) {
    margin-bottom: 30px;
  }
}

.product__features tr {
  @media (min-width: $medium-screen) {
    border-bottom: 1px solid $l-grey-3;
  }
}

.product__features td {
  padding: 0;

  @media (min-width: $medium-screen) {
    padding: 7px 0;
  }

  @media (min-width: $large-screen) {
    padding: 8px 0 7px;
  }
}

.product__value {
  text-align: right;
}
