.promo {
  padding: 27px 20px 0px;
  text-align: center;
  color: #ffffff;
  background-image:
    url("http://placehold.it/320x305"),
    linear-gradient(to bottom, $green-1 0%, $green-1, 305px, transparent 305px, transparent 100%);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.promo__heading {
  margin-bottom: 23px;
  padding: 0;
  line-height: 1;
  text-align: center;
}

.promo__slogan {
  margin-bottom: 27px;
  text-transform: uppercase;
}

.promo__button {
  font-size: 14px;
}
