.promo {
  @include container;
  position: relative;
  z-index: 1;
  padding: 27px 20px 0;
  text-align: center;
  color: #ffffff;
  background-image:
    url("http://placehold.it/320x305"),
    linear-gradient(to bottom, $green-1 0%, $green-1, 305px, transparent 305px, transparent 100%);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (min-width: $medium-screen) {
    padding-top: 30px;
    font-size: 20px;
    text-align: left;
    color: $d-grey-3;
    background-image: none;
  }

  @media (min-width: $large-screen) {
    min-height: 553px;
    margin-bottom: 80px;
    padding: 80px 120px 0;
  }
}

.promo__heading {
  margin-bottom: 23px;
  line-height: 1;
  color: inherit;

  @media (min-width: $medium-screen) {
    margin: 0 87px 40px;
  }

  @media (min-width: $large-screen) {
    margin: 0 0 40px;
    padding-left: 0;
    max-width: 570px;
  }
}

.promo__slogan {
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (min-width: $medium-screen) {
    margin-bottom: 16px;
    padding: 0 87px;
  }

  @media (min-width: $large-screen) {
    margin-bottom: 50px;
    padding-left: 0;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 271px;

  @media (min-width: $medium-screen) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $large-screen) {
    position: absolute;
    top: 0;
    right: 258px;
    z-index: -1;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  font-size: inherit;

  @media (min-width: $medium-screen) {
    position: absolute;
    bottom: 532px;
    left: 117px;
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  @media (min-width: $large-screen) {
    position: static;
  }
}
