.promo {
  position: relative;
  z-index: 1;
  margin-right: -$s-field;
  margin-left: -$s-field;
  padding: 27px $s-field 0;
  text-align: center;
  color: #ffffff;
  background-image:
    url("http://placehold.it/320x305"),
    linear-gradient(to bottom, $green-1 0%, $green-1, 305px, transparent 305px, transparent 100%);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (min-width: $medium-screen) {
    min-height: 840px;
    margin: 0;
    padding: 30px 90px 0;
    font-size: 20px;
    text-align: left;
    color: $d-grey-3;
    background-image: none;
  }

  @media (min-width: $large-screen) {
    min-height: 610px;
    padding: 85px 80px 0;
  }
}

.promo__heading {
  margin-bottom: 22px;
  line-height: 1;
  color: inherit;

  @media (min-width: $medium-screen) {
    margin-bottom: 40px;
  }

  @media (min-width: $large-screen) {
    margin: 0 0 40px;
    padding-left: 0;
    max-width: 570px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;

  @media (min-width: $medium-screen) {
    margin-bottom: 40px;
  }

  @media (min-width: $large-screen) {
    margin-bottom: 50px;
    padding-left: 0;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 271px;
  margin: 0 auto;

  @media (min-width: $medium-screen) {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $large-screen) {
    top: 0;
    right: 258px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  font-size: inherit;

  @media (min-width: $medium-screen) {
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
