.slider {
  @media (min-width: $medium-screen) {
    padding: 0 45px 48px;
    background-image: linear-gradient(to right, $l-grey-1 0%, $l-grey-1 50%, $l-grey-2 50%, $l-grey-2 100%);
    background-position: center bottom;
    background-size: 100% calc(100% - 190px);
    background-repeat: no-repeat;
  }

  @media (min-width: $large-screen) {
    flex-shrink: 0;
    padding: 0 0 50px;
    background-size: 100% calc(100% - 208px);
  }
}

.slider__content {
  position: relative;
  min-height: 248px;
  margin: 0 0 25px;

  @media (min-width: $medium-screen) {
    min-height: 517px;
    margin-bottom: 20px;
  }

  @media (min-width: $large-screen) {
    margin-bottom: 40px;
  }
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $large-screen) {
    padding-left: 37px;
  }
}

.slider__text {
  @include font(16px, 20px);
  min-width: 45px;
  text-align: center;
  text-transform: uppercase;
  color: $d-grey-3;

  @media (min-width: $medium-screen) {
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dotted $d-grey-1;

    &:hover {
      border-bottom: 1px solid $d-grey-1;
    }

    &:active {
      padding-bottom: 6px;
      border: none;
    }
  }
}

.slider__range {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 14px;
  margin: 0 15px;
  background-color: #ffffff;
  border: 1px solid $l-grey-3;
  border-radius: 7px;

  @media (min-width: $medium-screen) {
    width: 428px;
    height: 6px;
    margin: 0 22px;
    background-color: $l-grey-3;
    border: none;
    border-radius: none;
  }
}

.slider__toggle {
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  background-color: $green-1;
  border-radius: 3px;
  opacity: 0;
  cursor: pointer;

  &--before {
    left: 5px;
  }

  &--after {
    right: 5px;
  }

  @media (min-width: $medium-screen) {
    top: -14px;
    width: 34px;
    height: 34px;
    padding: 11px;
    background-color: #ffffff;
    border: 2px solid $l-grey-3;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: $green-1;
      border-radius: 50%;
    }

    &:focus,
    &:hover {
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-color: $green-1;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    }

    &--before {
      left: 0;
    }

    &--after {
      right: 0;
    }
  }
}

#slider-toggle-before:checked ~ .slider__control .slider__toggle--before {
  opacity: 1;
}

#slider-toggle-before:checked ~ .slider__content .slider__image--before {
  opacity: 1;
}

#slider-toggle-after:checked ~ .slider__control .slider__toggle--after {
  opacity: 1;
}

#slider-toggle-after:checked ~ .slider__content .slider__image--after {
  opacity: 1;
}
