.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__network {
  margin: 0 15.5px;

  @media (min-width: $medium-screen) {
    margin: 0 12px;
  }
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("http://placehold.it/25x25");
  background-position: center;
  background-repeat: no-repeat;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $medium-screen) {
    width: 30px;
    height: 30px;
  }
}
