// Основные размеры экранов
$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1300px;

// Размеры отступов
$s-field: 20px;
$m-field: 30px;
$l-field: 40px;

// Разрешение ретины
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Основные цвета от светлого к темному
$l-grey-1: #f2f2f2;  // светло серый фон блоков и серых кнопок
$l-grey-2: #ebebeb;  // серые кнопки, наведение
$l-grey-3: #cdcdcd;  // границы полей ввода и контролов

$d-grey-1: #444444;  // основной мелкий текст
$d-grey-2: #222222;  // текст поянений к полям ввода
$d-grey-3: #111111;  // текст заголовков

$green-1: #68b738;  // кнопки, покой; подчеркивание в меню; активный контрол
$green-2: #5eaa2f;  // кнопки, наведение

$red: #ff8282;  // error у инпута
